main {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding-left: 30px;
  padding-right: 30px;
  font-family: 'Titillium Web', sans-serif;
}

.item-bar {
  display: inline-block;
  margin:5px;
  border:1px solid black;
  padding:2px;
}
