header {
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding:14px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: black;
  background-color:darkcyan;
  color:white;
}

@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}

.header-logo
{
    -webkit-animation-name:             rotate;
    -webkit-animation-duration:         3s;
    -webkit-animation-iteration-count:  infinite;
    -webkit-animation-timing-function: linear;
}
