body {
  margin:0;
  display: flex;
  flex-direction: column;
  font-family: 'Titillium Web', sans-serif;
}

header {
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding:14px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: black;
  background-color:yellow;
}

main {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}


.item-bar {
  display: inline-block;
  margin:5px;
  border:1px solid black;
  padding:2px;
}

.controls {
  min-width: 15%;
  padding-left: 10px;
}

.controls > h2 {
  text-align: center;
}

.controls > input {
  border:1px solid black;
  padding:2px;
  outline:none;
}
#data-generator {
    border-right:none;
}

.controls > button {
  background-color: white;
  border:1px solid black;
  cursor:pointer;
  padding:2px;
  margin-left:-4px;
  outline:none;
}

.products-bar {
  max-width: 70%;
}

.products-bar > h2 {
  text-align: center;
}

.basket-bar {
  min-width:15%;
  text-align: center;
}

.item-bar {
  min-width: 15%;
  padding:0;
}

.item-bar-remove {
  background-color:green;
  color:white;
}

.item-bar > .item-title {
  margin-top:0;
  border-bottom:1px solid black;
  padding:1px;
  text-align: center;
}

.item-bar > .item-price {
  margin:0;
  font-size:15px;
}

.item-bar > .item-category {
  margin:0;
  font-size:15px;
}

.item-bar > button {
  display:block;
  width:100%;
  cursor: pointer;
  border:none;
  padding:5px;
  background-color:green;
  color:white;
  outline:none;
}

.item-bar > .button-remove {
    background-color:red;
}
